body {
    box-sizing: border-box;
    width: 400px;
    min-height: 240px;
    padding: 10px 5px;
}

input,
button {
    padding: 5px 10px;
}

hr {
    margin: 20px 0;
}

.status {
    font-size: 1.1rem;
}

/*.meta-data {*/
/*    font-size: 1.1em;*/
/*}*/

.input-wrapper {
    width: 100%;
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.input-wrapper input {
    width: 60%;
}

.input-wrapper button {
    margin-left: 20px;
}

#foundLinkField {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2rem;
}
